---
---

@import "{{ site.theme }}";

.main-content {
    @include large {
        max-width: 80rem;
    }
}

.page-header {
    @include large {
      padding: 1rem 3rem;
    }
}

.project-tagline {
    display: none;
    visibility: hidden;
}
