---
---

@import "{{ site.theme }}";

.main-content {
    height: 80vh;
    position: relative;

    @include large {
        max-width: 80rem;
    }
}

.page-header {
    @include large {
      padding: 2rem 3rem;
    }
}

// .project-tagline {
//     display: none;
//     visibility: hidden;
// }

li {
    margin: 0.6rem;
}

blockquote.sc-footer {
    margin-top: 5rem;
    padding: 1rem;

    @include large {
        // position: absolute;
        bottom: 2rem;
        width: 70rem;
        border-top: solid 1px #eff0f1;
    }

    @include small {
        margin-top: 10rem;
    }
}

.site-footer {
    padding-top: 1rem;

    @include large {
        // position: absolute;
        bottom: 1rem;
        width: 60vw;
    }
}
